.gallery .gallery-filters li button {
  background-image: url("../../images/icons/pattern1.png");
  padding: 7px 10px;
  border-radius: 10px;
}
.gallery .gallery-filters li button.active {
  color: red;
  font-weight: 700;
}
.gallery .gallery-box img {
  transition: var(--main-transition);
  cursor: pointer;
}
.gallery .gallery-box:hover img {
  transform: scale(1.08);
}
