@import url("https://fonts.googleapis.com/css2?family=Courgette&family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;1,700&family=Poppins:wght@100;200;300;400;500;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
body {
  line-height: 1.7;
  font-family: "Courgette", "cursive";
  font-family: "Montserrat", sans-serif;
  font-family: "Poppins", sans-serif;
}
html {
  scroll-behavior: smooth;
}
button {
  cursor: pointer;
}
a {
  text-decoration: none;
}
:root {
  --main-padding: 100px;
  --main-transition: all 0.5s;
  --main-font: "Poppins";
  --secondary-font: "Montserrat";
  --heading-font: "Courgette";
  --secondary-black-color: #666666;
  --secondary-white-color: rgba(255, 255, 255, 0.5);
  --main-black-color: #222222;
  --main-red-color: #ec1d25;
  --overlay-background: rgb(0 0 0 / 50%);
}
.section-padding {
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
}
.section-background {
  background-image: url("./images/icons/pattern1.png");
}
.main-font {
  font-family: var(--main-font);
  letter-spacing: 2px;
}
.secondary-font {
  font-family: var(--secondary-font);
  font-weight: 400;
  color: var(--secondary-black-color);
}
.btn {
  font-size: 18px;
  letter-spacing: 2px;
  border-radius: 10px;
  font-weight: 300;
  transition: var(--main-transition);
  padding: 8px 15px;
}
.main-btn {
  background-color: white;
  color: var(--main-red-color);
}
.secondary-btn {
  background-color: black;
  color: white;
}
.main-btn:hover,
.secondary-btn:hover {
  background-color: var(--main-red-color);
  color: white;
}
